body{font-family:"ו",SimSun,Geneva,Arial,sans-serif;font-size:12px;}
body,ul,li,div,dl,dt,dd,form,h4{margin:0px;padding:0px;}
td,th,table,ul,li,div,dl,dt,dd,form,h4{overflow:hidden;}
ul,li{list-style:none;}
a{color:#000;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
img{border:0px;}
em{font-style:normal;}

.b_sub{margin:auto;width:970px;}

.head{width:100%;clear:both;height:72px;}
.head div{float:left;}
.head .logo{width:175px;height:56px;}
.head .ad{width:538px;margin:6px 0 0 131px;}
.head .menu{float:right;line-height:20px;width:73px;margin:4px 0 0 0;}
.head .menu a{padding:0 0 0 9px;background:url(../images/bg_sub.gif) 0 -21px no-repeat;color:#666666;}
.head .logo,.head .menu{margin-top:12px;}

.b_sub .line{background:#009900;height:2px;}
.b_sub .ple{line-height:22px;padding-left:10px;border-bottom:#e9e7e8 1px solid;}
.b_sub .ple,.b_sub .ple a{color:#237803;font-family:"ו";}

.b_c{padding-top:7px;width:100%;float:left;clear:both;}

.btns{text-align:center;padding:20px 0 40px;width:100%;clear:both;}
.btns img{margin:0 10px;}
