@CHARSET "gb2312";
.b_sub .ple{border:0px}
.b_c{padding-top:10px}
.b_c div.p{width:968px;border-width:0 1px;border-color:#e4e4e4;border-style:solid;overflow:hidden}
.b_c h4{font-size:14px;font-weight:bold;color:#336600;background:#eff8e7;height:24px;line-height:25px;overflow:hidden;padding-left:19px;margin:0 auto;border-width:0 1px;border-color:#e4e4e4;border-style:solid}
.b_c h4.first{border-width:0px}
.b_c ul{border-width:0 0 1px 0;border-color:#f3f3f3;border-style:solid;margin:0 auto;width:978px;padding-left:19px}
.b_c ul.last{border-bottom-width:0px}
.b_c li{float:left;width:195px;height:38px;line-height:38px;overflow:hidden}
.b_c li a{font-size:16px;font-family:"Arial","ו"}
.b_c li a:visited{color:#408b24;text-decoration:none}